/* AVIS */
/* Style du carrousel  */

/* Styles pour le conteneur principal */
#avis {
  text-align: center;
  padding: 4px;
  zoom: 0.7;
}

.heading {
  padding-top: 2rem;
  padding-bottom: 2rem;
  font-size: 30px;
}
/* Styles pour chaque slide */

/* Styles pour le texte dans chaque slide */
.slide-avis {
  position: relative;
  width: auto;
  height: 225px;
  margin-top: 2rem;
  box-shadow: -0.5em 0.5em 0.4em #722375b0;
  border-radius: 3rem;
  padding: 5px;
  margin: 15px;
  overflow: hidden;
}

.toggle-button {
  color: #722375;
  background-color: #fff;
  border-width: 0;
  margin-left: 24rem;
  padding-top: -50px;
}

/* Style du bouton afficher plus  */
.slide-avis.expanded {
  height: auto;
}

/* Styles pour les flèches de navigation */
.slider-controler {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 120px;
}

.slider-controler .swiper-button-prev img {
  margin-left: 80rem;
  margin-top: 17rem;
  width: 60px;
  height: 60px;
}

.slider-controler .swiper-button-next img {
  margin-right: 78.5rem;
  margin-top: 17rem;
  width: 60px;
  height: 60px;
}

/* Styles pour la pagination */
.swiper-pagination {
  padding-bottom: 10px;
}

.swiper-pagination .swiper-pagination-bullet {
  width: 10px;
  height: 10px;
  background-color: black;
  border-radius: 50%;
}

.swiper-pagination .swiper-pagination-bullet-active {
  background: #722375;
}

.slider-controler .slider-arrow::after {
  visibility: hidden;
}

#h3_avis {
  margin: auto;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-thumb {
  background-color: #722375c0;
  border-radius: 10px;
}
