/* AVIS */
/* Style du carrousel  */

/* Styles pour le conteneur principal */
.container {
  text-align: center;
  padding: 4px;
}

/* Styles pour chaque slide */
.slide_container {
  width: auto;
  margin-left: 2px;
  justify-content: center;
  align-items: center;
}

/* Styles pour le texte dans chaque slide */
.slide-avis {
  height: 300px;
  margin-top: 2rem;
  box-shadow: -0.5em 0.5em 0.4em #722375b0;
  border-radius: 3rem;
  padding: 1rem;
  text-align: justify;
  overflow: auto;
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-thumb {
  background-color: #722375;
}

/* Styles pour les flèches de navigation */
.slider-controler {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 120px;
}

/* .slider-controler .swiper-button-prev,
.slider-controler .swiper-button-next {
  margin: 0 40rem;
} */

.slider-controler .swiper-button-prev img{
  margin-left: 80rem;
  margin-top: 22rem;
  width: 60px;
  height: 60px;
}

.slider-controler .swiper-button-next img{
  margin-right: 79rem;
  margin-top: 22rem;
  width: 60px;
  height: 60px;
}

/* Styles pour la pagination */
.swiper-pagination {
  padding-bottom: 10px;
}

.swiper-pagination .swiper-pagination-bullet {
  width: 10px;
  height: 10px;
  background-color: black;
  border-radius: 50%;
}

.swiper-pagination .swiper-pagination-bullet-active {
  background: #722375;
}

.slider-controler .slider-arrow::after {
  visibility: hidden;
}

/* Styles responsives */
@media (max-width: 768px) {
  .swiper_container {
    height: 300px;
  }

  .slide_container {
    margin: 0 5px;
  }
}

