/* A PROPOS */
/* Style de la page a propos */

section.about {
  margin-top: -6rem;
  height: 100vh;
  width: auto;
  display: flex;
  align-items: center;
}

.content {
  padding-top: 4rem;
  display: flex;
  justify-content: space-around;
}

.paragrapheAbout {
  margin-top: 3.1rem;
  width: 45%;
  text-align: justify;
}

.listAbout {
  width: 40%;
  margin-right: 0;
  text-align: start;
}

.intro {
  margin-left: 190px;
}

.check-logo {
  float: left;
  width: 1.4rem;
  margin-left: 0;
  margin-right: 10px;
}
