/* A PROPOS */
/* Style de la page a propos */

.about {
  width: 100%;
  height: 73vh;
  display: flex;
}

.about_title{
  margin-top: 9rem;
}

.about_content {
  display: flex;
  padding-top: 4rem;
  margin-left: 10rem;
}

.paragrapheAbout {
  margin-top: 1.9rem;
  width: 50%;
}

.listAbout {
  width: 55%;
  padding-left: 10rem;
  text-align: start;
}

h3{
  margin-top: -1rem;
  padding-bottom: 1rem;
  margin-left: -19rem  ;
}

.check-logo {
  float: left;
  width: 1.4rem;
  margin-left: 0;
  margin-right: 10px;
}

#btn_about{
  margin-top: 2rem;
  margin-left: -3.5rem; 
}