@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

/* Modification de base sur la page  */
* {
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

h1 {
  text-align: center;
  margin-top: 0;
}

h2,
h3 {
  text-align: center;
  color: #722375;
}
b {
  color: #722375;
}
/* HEADER */
/* Mettre à la bonne taille le logo dans le Header */

.fixed-header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100; /* Assure que le Header reste au-dessus du contenu */
  opacity: 0.6; /* Opacité 0.6 */
  transition: 1.5s;
}

.logo {
  width: 10rem;
  height: auto;
}

/* Mise en place de la navBar */
.navBar {
  height: 5rem;
  background-image: url(./images/BG_HEAD_FOOT/studio-background.jpg);
  padding: 5px;
  display: flex;
  justify-content: space-between;
  /* créer un espace égal entre chaques éléments */
  align-items: center;
  width: 100%;
  box-sizing: border-box;
}

.navBar a {
  color: white;
}

.navBar .Nav-links ul {
  display: flex;
  align-items: center;
}

.navBar .Nav-links ul li {
  margin: 0 25px;
}

.navBar .Nav-links ul li.active a {
  color: pink;
  font-weight: bold;
  font-size: larger;
  font-style: oblique;
}

.number_Header {
  text-align: center;
  margin-top: 4px;
}

.contact_Header {
  margin-top: 6px;
  padding-right: 15px;
}

/* ACCUEIL */
.accueil {
  background-image: url(./images/BG_ACCUEIL/15634900_5660676.jpg);
  background-size: cover;
  height: 100vh;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
}

.Logo_accueil {
  width: 20rem;
  height: auto;
}

.paragraphe {
  color: black;
  width: 60%;
  /* Ceci permet de mettre sur le coté une div, on lui dit de prendre 45% de la taille de l'écran*/
  text-align: justify;
}

#btn1 {
  box-shadow: -0.5em 0.5em 0.4em black;
}

.btn {
  border: none;
  border-radius: 7px;
  box-shadow: -0.5em 0.5em 0.4em black;
  display: block;
  text-align: center;
  cursor: pointer;
  text-transform: uppercase;
  outline: none;
  overflow: hidden;
  position: relative;
  color: #eeeeee;
  font-weight: 500;
  font-size: 12px;
  background-color: #722375;
  padding: 15px 50px;
  margin: 0 auto;
}

.btn:after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  height: 470%;
  width: 140%;
  background: pink;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  -webkit-transform: translateX(-100%) translateY(-25%) rotate(45deg);
  transform: translateX(-100%) translateY(-25%) rotate(45deg);
}

.btn:hover:after {
  -webkit-transform: rotate(39deg);
  transform: translateX(-7%) translateY(-28.5%) rotate(39deg);
}

.btn span {
  position: relative;
  z-index: 1;
}

.btn a:hover {
  color: black;
  opacity: 1;
}

/* SERVICES */
/* Style de la page services */

.services-page {
  height: 100dvh;
  width: auto;
  text-align: center;
  padding-top: 10rem;
  margin-top: -9rem;
  margin-bottom: 9rem;
}

.service-header {
  font-size: 1.5rem;
  margin-bottom: 1.25rem;
}

.services {
  padding-top: 6rem;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-top: -4rem;
}

.service {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  transition: transform 0.3s;
}

.service:hover {
  transform: translateY(-0.625rem);
}

.service-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.service-row {
  width: auto;
  height: 3.125rem;
  display: flex;
  justify-content: center;
  flex: 1;
  margin: 0.625rem;
  flex-direction: row;
}

.service2 {
  display: flex;
  justify-content: center;
  flex: 1;
  flex-direction: row;
  margin-top: 16rem;
  margin-bottom: 4.688rem;
  margin-left: -84.5rem;
}

.service-content h3 {
  font-size: 1.125rem;
}

.service-description {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #722375;
  border: 1px solid #722375;
  border-radius: 25%;
  box-shadow: -0.5em 0.5em 0.4em pink;
  padding: 0.625rem;
  margin-top: 1.25rem;
  position: absolute;
  top: 3.75rem;
  left: 50%;
  transform: translateX(-50%);
  width: 12.5rem;
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s;
  z-index: 1;
}

.service:hover .service-description {
  color: pink;
  opacity: 1;
  visibility: visible;
}

/* A PROPOS */
/* Style de la page a propos */
section.about {
  height: 100dvh;
  width: auto;
  padding: 60px 0;
  display: flex;
  align-items: center;
}

.content {
  padding-top: 5rem;
  display: flex;
  justify-content: space-around;
}

.paragrapheAbout {
  margin-top: 3.1rem;
  width: 45%;
  text-align: justify;
}

.listAbout {
  width: 40%;
  margin-right: 0;
}

.check-logo {
  float: left;
  width: 1.4rem;
  margin-left: 0;
  margin-right: 10px;
}

/* AVIS */
/* Style de la section "ils nous ont fais confiance */

#projects-title {
  padding-top: 30px;
  text-align: center;
}

.projets-container {
  padding-top: 5rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1.5rem;
  margin-top: 3rem;
  margin-bottom: 3rem;
  margin-left: 1.5rem;
}

.project-image {
  border-radius: 7px;
  box-shadow: -0.5em 0.5em 0.4em #7b7575;
}

.project-image:hover {
  scale: 1.1;
  background-color: #7b7575;
  opacity: 0.9;
  transition: 0.5s;
}

#img1,
#img2,
#img3 {
  width: 15rem;
  height: auto;
}

#img4,
#img5,
#img6 {
  width: 20rem;
  height: auto;
}

#img1 {
  grid-column: 1 / 2;
  grid-row: 1;
}

#img2 {
  grid-column: 2 / 3;
  grid-row: 1;
}

#img3 {
  grid-column: 3 / 4;
  grid-row: 1;
}

#img4 {
  grid-column: 1 / 2;
  grid-row: 1;
  margin-top: 20rem;
  margin-left: 10rem;
}

#img5 {
  grid-column: 2 / 3;
  grid-row: 1;
  margin-top: -2rem;
  margin-left: 10rem;
}

#img6 {
  grid-column: 3 / 4;
  grid-row: 1;
  margin-top: 20rem;
  margin-left: -7rem;
}

/* CONTACT
/* Style de base pour la page contact */

section.contact {
  padding-top: 1rem;
  height: 100dvh;
  width: auto;
  margin-bottom: 10rem;
}

.text-contact {
  margin: auto;
  padding-top: 2rem;
  font-size: x-large;
  width: 30rem;
  margin-left: 5rem;
  margin-top: -3rem;
}

.contact-form {
  margin-top: -18rem;
  margin-right: 2rem;
}

.contact-form input,
textarea {
  font-size: x-large;
  display: flex;
  width: 30rem;
  margin-bottom: 1.5rem;
  border-color: #722375;
  border-style: dotted;
  border-radius: 10px;
}
/* PAGE INFO */
/* style de la page section info qui est dans la page Contact */
.contacts-page {
  text-align: center;
}

.contact-info {
  padding: 0.7rem;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  transition: transform 0.3s;
  margin-top: -1.6rem;
  margin-left: 3rem;
}

.contact-info:hover {
  transform: translateX(0.625rem);
  transition: 0.5s;
}

.contact-content {
  width: 15rem;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.logo-contact {
  margin-right: 1.5rem;
}

.contact-description {
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: #722375;
  border: 1px solid pink;
  border-radius: 10px;
  box-shadow: -0.5em 0.5em 0.4em pink;
  padding: 0.625rem;
  margin-top: 3rem;
  position: absolute;
  top: 3rem;
  left: 100%;
  transform: translateY(-100%);
  width: 15rem;
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s;
  z-index: 1;
}

.contact:hover .contact-description {
  justify-content: center;
  color: pink;
  opacity: 1;
  visibility: visible;
}

/* FOOTER  */
/* Style de base pour le footer */
footer {
  background-image: url(./images/BG_HEAD_FOOT/studio-background.jpg);
  color: #fff;
  padding: 20px;
  text-align: center;
  position: inherit;
  bottom: 0;
  width: 100%;
}
/* Style et disposition pour le footer */
.footer-container {
  display: flex;
  justify-content: space-between;
  /* Créer un espace égale entre chaque élément */
  align-items: center;
  flex-wrap: wrap;
  /* Permet aux éléments de passer à la ligne si l'espace est insuffisant */
}

/* Permet d'obtenir le bloc du milieu du footer */
.footer-legal-mention {
  display: block;
  align-items: center;
  font-size: 12px;
}

/* Styles pour les icônes de médias sociaux à droite */
.footer-social-media {
  display: flex;
  align-items: center;
}

/* Styles pour les icônes de médias sociaux */
img {
  width: 1.9rem;
  height: auto;
  margin-left: 10px;
  /* Espacement entre les icônes */
}

/* Nouvelle taille logo facebook */
.facebook-logo {
  width: 1.438rem;
  margin-right: 5px;
  /* Espacement entre les icônes */
}

/* Ajouter un hover pour les icônes de médias sociaux */
.footer-social-media img:hover {
  opacity: 0.7;
}

a {
  color: #fff;
}

a:hover {
  opacity: 0, 7;
  color: pink;
  transition: 0.3s;
}
