@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

/* Modification de base sur la page  */
* {
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

h1,
h2,
h3, 
b {
  text-align: center;
  color: #722375;
  text-shadow: 5px 4px 5px pink, 5px 4px 5px black
}

.section-separator {
  background-color: #722375;
  height: 3px;
  width: 50%;
  margin: auto;
}

@media (min-width: 1440px) {
  html {
    zoom: 1.2;
  }
}

@media (min-width: 2560px) {
  html {
    zoom: 1.7;
  }
}

@media (min-width: 3860px) {
  html {
    zoom: 2.5;
  }
}

a {
  color: #fff;
}

a:hover {
  opacity: 0, 7;
  color: pink;
  transition: 0.3s;
}
