/* CONTACT
/* Style de base pour la page contact */

#contact {
  margin-bottom: 5em;
}

.text-contact {
  padding-top: 8rem;
  font-size: large;
  width: 30rem;
  margin-left: 8rem;
  margin-top: -3rem;
}

.info {
  padding: 5rem;
  padding-top: 5rem;
}

.form {
  margin-left: 50em;
  margin-top: -30em;
}

.form input,
textarea,
select {
  font-size: large;
  display: flex;
  width: 26rem;
  margin-bottom: 0.5rem;
  border-color: #722375;
  border-style: double;
  border-radius: 10px;
}

label {
  color: #722375;
  font-weight: bold;
}


#btn-contact{
  margin-right: 21.5rem;
}

