.contact-info {
    font-size: large;
    transition: transform 0.3s;
    margin-left: 10rem;
}

.contact-info:hover {
    transform: translateY(0.5em);
    transition: 0.5s;
}

.contact-description {
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: #722375;
    border: 1px solid pink;
    border-radius: 10px;
    box-shadow: -0.5em 0.5em 0.4em pink;
    padding: 0.625rem;
    position: absolute;
    top: 0.5rem;
    left: 2rem;
    transform: translateY(120%);
    width: 15rem;
    opacity: 0;
    visibility: hidden;
    transition: all 0.3s;
    z-index: 1;
}

.contact:hover .contact-description {
    justify-content: center;
    color: pink;
    opacity: 1;
    visibility: visible;
}

.contacts-page{
    width: 10rem;
}

.logo-contact{
    zoom: 2;
}