/* HEADER */
/* Mettre à la bonne taille le logo dans le Header */

.section-separator {
    background-color: #722375;
    height: 3px;
    width: 50%;
    margin: auto;
    margin-top: 2rem;
  }
  
  .fixed-header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 100; /* Assure que le Header reste au-dessus du contenu */
    opacity: 0.6; /* Opacité 0.6 */
    transition: 1.5s;
  }
  
  .logo {
    width: 10rem;
    height: auto;
  }
  
  /* effet sur la navbar */
  .navBar {
    color: white; /* Couleur du texte par défaut */
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    transition: background-color 0.3s ease; /* Transition de couleur de fond */
  }
  
  .navBar a {
    color: white;
    text-decoration: none;
  }
  
  .navBar .active::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
  }
  
  /* Styles pour le logo et autres éléments de la navbar */
  .logo {
    max-width: 100px; /* Largeur du logo */
  }
  
  .contact_Header {
    color: white;
  }
  
  /* Mise en place de la navBar */
  .navBar {
    height: 5rem;
    background-image: url(../images/BG_HEAD_FOOT/studio-background.jpg);
    padding: 5px;
    display: flex;
    justify-content: space-between;
    /* créer un espace égal entre chaques éléments */
    align-items: center;
    width: 100%;
    box-sizing: border-box;
  }
  
  .navBar a {
    color: white;
  }
  
  .navBar .Nav-links ul {
    display: flex;
    align-items: center;
  }
  
  .navBar .Nav-links ul li {
    margin: 0 25px;
  }
  
  .navBar .Nav-links ul li.active a {
    color: pink;
    font-weight: bold;
    font-size: larger;
    font-style: oblique;
  }
  
  .number_Header {
    text-align: center;
    margin-top: 4px;
  }
  
  .contact_Header {
    margin-top: 6px;
    padding-right: 15px;
  }
  